<svg width="200" height="100">
  <g>
    <rect x="50" y="25" rx="10" ry="10" width="100" height="50" stroke="#007bff" stroke-width="2" fill="slategray" />
    <g>
      <circle cx="100" cy="50" r="45" stroke="gray" stroke-width="1" fill="white" />
      <foreignObject x="85" y="35" width="30" height="30"><xhtml:i class="material-icons" style="height:30px; width:30px; font-size: 30px;">code</xhtml:i></foreignObject>
    </g>
  </g>
</svg>
<i class="material-icons">all_out</i>
<i class="material-icons">code</i>
<i class="material-icons">youtube_searched_for</i>
