<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Space Scanner</h1>
    <p class="lead font-weight-normal">Der Space Scanner ist aus einer Projektarbeit und einem Modul Robotik eines dualen Studiums an der DHBW Mannheim entschanden. Projektziel war ein 360 Grad Scanner zu entwickeln.</p>
    <a class="btn btn-outline-secondary" href="#">Zur Dokumentation</a>
  </div>
</div>

<hr class="featurette-divider">
<div class="container">
  <h1>Das Team</h1><br />
  <div class="row">
    <div class="col-lg-4">
      <h2>Adrian Zwergel</h2>
      <h5>beteiligt an Projekt 360 Grad Scanner und Modul Robotik</h5>
      <p>Entwicklung Software und Hardware: Konstruktion CAD Dateien, Bau Roboter und Scanner, Entwicklung Elektronik, Entwicklung Angular Website, Entwicklung Roboter-Software</p>
      <p><a class="btn btn-secondary" href="https://www.facebook.com/adrian.zwergel" role="button">zu Facebook »</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Marvin Meinhard</h2>
      <h5>beteiligt am Modul Robotik</h5>
      <p>Bau Roboter, Entwicklung Elektronik, Aufbau Netzwerk</p>
      <p><a class="btn btn-secondary" href="https://www.facebook.com/marvin.meinhard" role="button">zu Facebook »</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Valentin Rebscher</h2>
      <h5>beteiligt am Modul Robotik</h5>
      <p>Bau Roboter, Aufbau Netzwerk, Testen der Hardware</p>
      <p><a class="btn btn-secondary" href="https://www.facebook.com/valentin.rebscher.315" role="button">zu Facebook »</a></p>
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="container">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">DHBW Mannheim <span class="text-muted">In der Theorie ganz vorne - in der Praxis unschlagbar</span></h2>
      <p class="lead">
        Die Duale Hochschule Baden-Württemberg (DHBW) Mannheim bietet ein attraktives Studienkonzept, das sich an den realen Bedingungen und Anforderungen des Arbeitsmarktes und der Unternehmen orientiert.<br /><br />
        Ihr 40-jähriger Erfolg basiert auf der engen Verzahnung von Theorie und Praxis, von wissenschaftlichem Studium an der Hochschule und Berufserfahrung in den Partnerfirmen.<br /><br />
        Gradmesser dieses praxisintegrierenden Erfolgskonzepts ist die überdurchschnittlich hohe Employability-Quote: 80 bis 90 Prozent der Studierenden werden nach Studienabschluss direkt in eine Festanstellung übernommen.<br /><br />
        Auszug aus https://www.dhbw-mannheim.de/duale-hochschule.html
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_162c0137c25%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_162c0137c25%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
    </div>
  </div>

</div>

<hr class="featurette-divider">

<div class="container">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Prof. Dr. Jochem Poller <span class="text-muted">Projektbetreuer</span></h2>
      <h5>Fachbereiche:</h5>
      <p class="lead">
        Computer-Grafik<br />
        Compiler-Bau<br />
        Bildverarbeitung<br />
        Robotik<br />
        Formale Sprachen<br />
        Grundlagen Informatik<br />
      </p>
      <p><a class="btn btn-secondary" href="https://www.dhbw-mannheim.de/fakultaet-technik/professoreninnen-und-akad-mitarbeiterinnen/prof-dr-jochem-poller.html?version=3%23Lehrbereich&cHash=655be1800ccf13e1e0699ae8e1187335&L=0" role="button">zum Profil »</a></p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_162c0137c28%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_162c0137c28%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>
</div>

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
      <small class="d-block mb-3 text-muted">© 2017-2018</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Cool stuff</a></li>
        <li><a class="text-muted" href="#">Random feature</a></li>
        <li><a class="text-muted" href="#">Team feature</a></li>
        <li><a class="text-muted" href="#">Stuff for developers</a></li>
        <li><a class="text-muted" href="#">Another one</a></li>
        <li><a class="text-muted" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Resource</a></li>
        <li><a class="text-muted" href="#">Resource name</a></li>
        <li><a class="text-muted" href="#">Another resource</a></li>
        <li><a class="text-muted" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Business</a></li>
        <li><a class="text-muted" href="#">Education</a></li>
        <li><a class="text-muted" href="#">Government</a></li>
        <li><a class="text-muted" href="#">Gaming</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>
