<nav class="nav nav-underline justify-content-end" style="background-color: white">
  <a class="nav-link" href="#"><i class="material-icons align-middle">directions_car</i> Angehalten</a>
  <a class="nav-link" href="#"><i class="material-icons align-middle">scanner</i> 0°</a>
  <a class="nav-link" href="#">A<i class="material-icons align-middle">loop</i> 0%</a>
  <a class="nav-link" href="#">B<i class="material-icons align-middle">loop</i> 0%</a>
  <a class="nav-link" href="#">C<i class="material-icons align-middle">loop</i> 0%</a>
  <a class="nav-link" href="#"><i class="material-icons align-middle">navigation</i> S180°</a>
  <a class="nav-link" href="#"><i class="material-icons align-middle">location_on</i> LAT49.4742071 LON8.53494739</a>
</nav>
